@import 'bootstrap/scss/bootstrap';
$fa-font-path: '../webfonts';

@import '@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '@fortawesome/fontawesome-free/scss/solid.scss';
@import '@fortawesome/fontawesome-free/scss/regular.scss';
@import '@fortawesome/fontawesome-free/scss/brands.scss';




@font-face {
  font-family: 'Questrial';
  src:url('https://fonts.googleapis.com/css2?family=Fredoka&family=Lato&family=Montserrat:wght@400;500&family=PT+Sans&family=Questrial&family=Roboto&display=swap'); ;
}
